.main{
    
    font-size: 30px;
    font-family: sans-serif;
   
    color: red;
    text-align: center;
    
    text-transform: uppercase;
    text-shadow: 20px 20px 7px rgb(89, 3, 3);
    
 

  
}
body{
  
    
    border: 5px solid brown;
    width:fit-content; 
    margin: 300px auto auto auto; 
    padding: 15px;
    border-block-color: purple;
    border-width: 20px;
    box-sizing: border-box;
   
    
    
    
   


}
.main2{
 
    border:3px solid black;
    border-radius:50%;
    background-color: aquamarine;
    box-shadow: 20px 20px 20px 5px blueviolet;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 50px;
    justify-content: center;
    

}